.profile-Div {
  width: 80%;
  height: 90%;
  margin: auto
}

.profile-form {
  border-radius: 1rem;
  border: solid 1px #000;
  width: 50%;
  height: auto;
  display: inline-block;
}

.profile-box{
  width: 30%;
  height: 30%;
  border-radius: 100%;
  overflow: hidden;
  align-items: center;
  border: none;
  margin: auto 0;
  
}

.profile-info{
  display: inline-flex;
}